aiofiles==24.1.0
aiogram==3.19.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiohttp-retry==2.8.3
aiosignal==1.3.2
albucore==0.0.24
albumentations==2.0.8
amqp==5.2.0
aniso8601==9.0.1
annotated-types==0.7.0
anyio==4.6.0
appdirs==1.4.4
asgiref==3.8.1
asyncpg==0.30.0
attrs==25.3.0
autoslug==1.0.5
billiard==4.2.1
celery==5.4.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudipsp==1.0.4
colorama==0.4.6
contourpy==1.3.2
coverage==7.6.4
cron-descriptor==1.4.5
cryptography==43.0.1
cycler==0.12.1
Django==5.2.1
django-celery-beat==2.7.0
django-celery-results==2.5.1
django-filter==24.3
django-fsm==3.0.0
django-phonenumber-field==8.0.0
django-qrcode==0.3
django-redis==5.4.0
django-timezone-field==7.0
django-viewflow==2.2.8
djangorestframework==3.16.0
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.28.0
drf-spectacular-sidecar==2025.6.1
filelock==3.18.0
flower==2.0.1
fonttools==4.58.4
frozenlist==1.5.0
fs==2.4.16
fsspec==2025.5.1
graphene==3.3
graphene-django==3.2.2
graphql-core==3.2.4
graphql-relay==3.2.0
h11==0.14.0
httpcore==1.0.6
httpx==0.27.2
humanize==4.10.0
idna==3.10
inflection==0.5.1
iniconfig==2.0.0
Jinja2==3.1.6
joblib==1.5.1
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.8
kombu==5.4.2
labelImg==1.8.6
lxml==6.0.0
magic-filter==1.0.12
MarkupSafe==3.0.2
matplotlib==3.10.3
mpmath==1.3.0
multidict==6.2.0
networkx==3.5
numpy==2.3.1
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
packaging==24.1
pandas==2.3.0
paypalrestsdk==1.13.3
phonenumbers==8.13.46
pillow==11.2.1
pluggy==1.5.0
prometheus_client==0.21.0
promise==2.3
prompt_toolkit==3.0.48
propcache==0.3.0
psutil==7.0.0
psycopg2-binary==2.9.10
py-cpuinfo==9.0.0
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
PyJWT==2.9.0
pyOpenSSL==24.2.1
pyparsing==3.2.3
PyQt5==5.15.11
PyQt5-Qt5==5.15.17
PyQt5_sip==12.17.0
pytest==8.3.3
pytest-asyncio==0.24.0
pytest-cov==6.0.0
pytest-django==4.9.0
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2024.2
PyYAML==6.0.2
redis==5.1.0
referencing==0.36.2
requests==2.32.3
rpds-py==0.25.1
scikit-learn==1.7.0
scipy==1.16.0
segno==1.6.6
setuptools==80.9.0
simsimd==6.4.9
six==1.16.0
sniffio==1.3.1
sqlparse==0.5.3
stringzilla==3.12.5
stripe==12.0.0
sympy==1.14.0
text-unidecode==1.3
threadpoolctl==3.6.0
torch==2.7.1
torchvision==0.22.1
tornado==6.4.1
tqdm==4.67.1
twilio==9.3.2
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
ultralytics==8.3.160
ultralytics-thop==2.0.14
unicode-slugify==0.1.5
Unidecode==1.3.8
uritemplate==4.2.0
urllib3==2.3.0
vine==5.1.0
wcwidth==0.2.13
yarl==1.18.3
